# Ignore swap files
*.swp
*~

# Ignore media and upload folders
media*
uploads*

# Ignore download folder
download/

# Ignore compiled templates folder
templates/compiled/

# Ignore newsletter spool folder
shellscripts/newsletter/spool
