/* Tuksi Backend - Stylesheet */
/* RPE 03.10.2007 */


/* Resetting elements and setting font */

/*Setting font*/
body, table{
font-size:11px;
font-family:Arial, Helvetica, Verdana, sans-serif;
line-height:15px;
color:#000;
}

/*Setting all elements*/
*{
margin:0;
font-family:inherit;
font-weight:inherit;
font-style:inherit;
outline:0;
}

/*Removing padding*/
td, th, h1, h2, h3, h4, h5, h6, p, blockquote, pre, address, code, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, dd, tbody, tfoot, thead {
padding:0;
}

/*Removing border*/
table, td, th, legend, fieldset, img{
border:0;
}

/*Resetting Table*/
table {
border-collapse:collapse;
border-spacing:0;
}

/*Realign center-text to left*/
caption, th, td {
text-align:left;
}



/* Setting mixed properties */
body {
_*behavior:url("/stylesheet/csshover2.htc");/*(IE6)*/
text-align:center;
/*overflow:-moz-scrollbars-vertical;*/
background:#1F1F1F url(/images/backgrounds/bg_body.jpg) repeat-x;
}

/*Clear float elements*/
.clr{
clear:both;
height:1px;
overflow:hidden;
margin-top:-1px;
}



/* Setting standard elements */
/*Text elements*/
p {}

h1 {font-size:16px;}
h2 {font-size:15px;}
h3 {font-size:14px;}
h4 {font-size:13px;}
h5 {font-size:12px;}
h6 {font-size:11px;}

/*List*/
ul {}

ol {}

li {}

strong{
font-weight:bold;
}
em, i{
font-style:italic;
}
u{
text-decoration:underline;
}

/*Link*/
a{
color:#000;
text-decoration:underline;
}
a:hover {
text-decoration:none;
}


/***********************************************************************************/
/***************** Specifik Globale Tuksi 4.0 styles *******************************/
/***********************************************************************************/

/* Form elementer */
select{
font-size:11px;
color:#433f3c;
}
input.text{
padding:1px 0 0 1px;
font:11px/12px Arial, Helvetica, Verdana, sans-serif;
color:#333;
/*border:1px solid #9c9c9c;*/
}
input.radio.positionLeft{
*margin-top:-2px;/*(IE)*/
margin-right:6px;
*margin-right:2px;
}
input.checkbox.positionLeft{
*margin-top:-2px;/*(IE)*/
margin-right:6px;
*margin-right:2px;
}
textarea{
font:11px/12px Arial, Helvetica, Verdana, sans-serif;
margin-bottom:5px;
color:#333;
padding:4px 4px 4px 5px;
overflow:auto;
}
textarea.textarea100{
width:98%;/*1% mindre end 100 minus padding*/
}
textarea.textarea75{
width:74%;
}
textarea.textarea50{
width:49%;
}
textarea.textarea25{
width:24%;
}

/*** Specifikke classer til udvikler brug ***/
.positionRight{
float:right!important;
}
.positionLeft{
float:left!important;
}
.colorPositive{
color:#669933!important;
}
.colorNegative{
color:#cc0001!important;
}



