/* Multiple element list */
.tbl_multi {
	width: 100%;
	border-collapse: collapse;
}
	.tbl_multi td {
		border: 2px #E6E7E0 solid;
		padding: 0;
		vertical-align: top;
	}
	.tbl_multi td table td {
		border: 0;
	}
		.tbl_multi tr.multi_head td {
			height: 18px;
			background: #DDDED7;
		}
			.tbl_multi tr.multi_head td span.elm_name {
				padding-left: 7px;
				float: left;
			}
			.tbl_multi tr.multi_head td span.elm_buttons {
				padding-right: 7px;
				float: right;
			}
	.tbl_multi td.extend_elm {
		width: 23px;
	}
		.tbl_multi td.extend_elm img {
			margin: 0 7px;
		}
	.tbl_multi tr.multi_elm_edit td {
		padding: 3px 7px;
	}